body{
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: lightgray;
}
canvas{
  border: 5px solid white;
  border-radius: 20px;
}
.flex-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 900px;
  width: 1000px;
  margin: 0 auto;
}
.logo{
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 35px;
  background-color: white;
  width: 50%;
  margin: 0 auto;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top: 5px solid black;
}
h1:hover{
  transition: .5s;
  text-shadow: 2px 2px 4px #000000;
  transform: scale(1.1);
  cursor: pointer;
}
